body 
{
    font-family: Lora, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container 
{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h2
{
    margin-bottom: 20px;
}

.btn-group 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn 
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.districts .btn 
{
    background: #709775;
    color: white;
}

.divisions .btn 
{
    background: #415d43;
    color: white;
}

.btn:hover 
{
    opacity: 0.8;
}